*{ margin: 0px; padding: 0px; }

body{ margin: 2px; }

ul{
    margin: 0px 0px 0px 20px; 
    color: var(--text-color);
    list-style: none; line-height: 2em; font-family: Arial;
    li{
        font-size: 16px;
        position: relative;
        &:before{
            position: absolute;
            left: -15px;
            top: 0px;
            content: '';
            display: block;
            border-left: 1px solid var(--link-color);
            height: 1em;
            border-bottom: 1px solid var(--link-color);
            width: 10px;
        }

        &:after{
            position: absolute;
            left: -15px;
            bottom: -7px;
            content: '';
            display: block;
            border-left: 1px solid var(--link-color);
            height: 100%;
        }
        
      &.root{
          margin: 0px 0px 0px -20px;
          &:before{
            display: none;
          }

          &:after{
            display: none;
          }


       }


       &:last-child{
          &:after{ display: none }
        }
    }
}

* { 
  margin: 0; 
  padding: 0; 
}

body { 
  margin: 2px; 
}

ul {
  margin: 0 0 0 20px; 
  list-style: none; 
  line-height: 2em; 
  font-family: Arial;
}

li {
  font-size: 16px;
  position: relative;
}

li:before, li:after {
  content: '';
  position: absolute;
  left: -15px;
  display: block;
  border-left: 1px solid var(--link-color);
}

li:before {
  top: 0;
  height: 1em;
  border-bottom: 1px solid var(--link-color);
  width: 10px;
}

li:after {
  bottom: -7px;
  height: 100%;
}

li.root {
  margin: 0 -20px 0 -20px;
}

li.root:before, li.root:after {
  display: none;
}

li:last-child:after {
  display: none;
}

/* Toggle Sections */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label + ul {
  display: none;
}

input[type="checkbox"]:checked + label + ul {
  display: block;
}

label {
  cursor: pointer;
}

label > img {
  vertical-align: middle;
}
