.content_background {
    background-color: white;
    border-radius: 0px 0px 6px 6px;
}

.content_background  img {
    max-height: 700px; /* or any specific height */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scrolling */
    

}

.window-content {
    width: 100%;
    min-height: auto; /* Set a fixed height or max-height */
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column; /* Ensure content flows vertically */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal scrolling */

    

    scrollbar-width: 3px;
    scroll-behavior: smooth;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    

  
}

/* window-content-container scroll
/* For WebKit browsers (Chrome, Safari, Edge) */
.window-content-container::-webkit-scrollbar {
    width: 12px;  /* Width of the scrollbar */
}
  
/* The part of the scrollbar (track) that's not the draggable part (thumb) */
.window-content-container::-webkit-scrollbar-track {
    background: none;  /* No background */
}
  
/* The draggable part of the scrollbar */
.window-content-container::-webkit-scrollbar-thumb {
    background-color: #888;  /* Change this to the color you want */
    border-radius: 10px;  /* Rounded corners */
    border: 3px solid #ffffff;  /* Optional: Add a border around the thumb to create space between thumb and track */
}
  
/* Change the color when hovering over the scrollbar thumb */
.window-content-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Darker color on hover */
}


/* Ensure child elements do not overflow */
.window-content > * {
    flex-shrink: 0;
    flex-grow: 0;
}







.window-content-container {
    padding: 10px;
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    color: var(--text-color);
}



.window-content-container{
    -ms-overflow-style:none;
    scrollbar-width: none;
}


.window-content-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    align-content: center;

    background-color: var(--backgorund-color);
    border-radius: 6px 6px 0 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


}

.file_info_left {
    padding: 6px;
    display: flex;
    justify-content: right;
 
}

.file_info_right {
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#file_name {
   margin: auto;
}

.file_size_container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#file_size {
    margin: 0 3px 0 0;
   
}

#download_button {

}

pre {
    padding: 6px;
    max-height: 600px; /* or any specific height */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: auto; /* Hides horizontal scrolling */
}



code {
    width: 100%;

    
}


