<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window_content.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/intro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title> App Main </title>
</head>
<body>
    <div class="main">
        <div class="main-content">
            <div class="main-content-container">
                <div class="nav">
                    <div class="nav-container">
                        <div class="nav-left">
                            <a class="img-ctn" id="nav-one"> <img src="{{ url_for('static', filename='img/info.svg') }}" alt="Info Icon" id="nav-icon"> </a>
                            <a class="img-ctn"> <img src="{{ url_for('static', filename='img/info.svg') }}" alt="Info Icon" id="nav-icon"></a>
                        </div>
                        <div class="nav-right">
                            <p class="nav-right-text">User ID: {{ user_id }}</p>
                            <a class="img-ctn"> <img src="{{ url_for('static', filename='img/user-profile.svg') }}" alt="Profile Icon"> </a>
                        </div>
                    </div>
                </div>
              
                
                <div class="tree-and-content-container">
                    <div class="directory-tree">
                        {{ directory_tree_html | safe }}
                    </div>
                    <div class="window-content-container">
                        <div class="window-content">
                            <div class="window-content-header">
                                {% if file_info %}
                                    <div class="file_info_left">
                                        <p id="file_name">{{ file_info.name }}</p>
                                    </div>
                                    <div class="file_info_right">
                                        <div class="file_size_container">
                                            <p id="file_size">{{ file_info.size }}</p>
                                        </div>
                                        <a href="{{ url_for('download_file', token=file_info.token) }}" class="download-button">
                                            <img src="{{ url_for('static', filename='img/download.svg') }}" alt="Download Icon">
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="content_background">
                                {% if content %}
                                    {{ content | safe }}
                                {% else %}
                                    <div class="intro-container">
                                        <div class="welcome-top-container">
                                            <h1>Welcome to the File Explorer App</h1>
                                            <p>Seamlessly navigate and manage your documents. Upload new files with a simple drag and drop or by clicking the upload button.</p>
                                            <p>Supported file formats include: .jpg, .png, .pdf, .docx. Ensure your files match these formats to successfully upload.</p>
                                        </div>
                                        <div class="welcome-bottom-container">
                                            <form action="/upload" method="post" enctype="multipart/form-data" id="file-upload-form">
                                                <input type="file" name="file" id="file-input" accept=".jpg, .png, .pdf, .docx" multiple>
                                                <button type="submit">Upload File</button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="footer" >
                <ul id="footer-list">
                    <li id="footer-item"><a href="/"> About </a></li>
                    <li id="footer-item"><a href="/"> Terms </a></li>
                    <li id="footer-item"><a href="/"> Copywright </a></li>
                    <li id="footer-item"><a href="/"> FAQ </a></li>
                    <li id="footer-item"><a href="/"> Abuse </a></li>
                    <li id="footer-item" ><a href="/"> Feedback </a></li>
                    <li id="footer-item"><a href="{{ url_for('logout')}}" > Logout </a></li>

                </ul>
            </div>
        
        </div>
    </div>
    <noscript>
        <strong>JavaScript is disabled on your browser.</strong>
    </noscript>
    <script src="script.js"></script>
</body>
</html>
