<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory.css') }}">
</head>
<body>
    <div class="main">
        <div class = "nav">
            <p> Item 2</p>
            <p> Eddy.png (nda agreement)</p>
            <p> Reset link to website </p>
        </div>
        <div class= "main-content">
            <div class="directory-tree">
                <ul class="tree">
                    <li class="root">
                        <input type="checkbox" id="root-folder" hidden>
                        <label for="root-folder">
                            root/
                        </label>
                        <ul>
                            <li>
                                <input type="checkbox" id="design-patterns" hidden>
                                <label for="design-patterns"><span>Design patterns/</span></label>
                                <ul>
                                    <li>Fluent_Interface.txt</li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" id="security" hidden>
                                <label for="security"><span>Security/</span></label>
                                <ul>
                                    <li>Content_Security_Policy.txt</li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" id="js-building-blocks" hidden>
                                <label for="js-building-blocks"><span>JS Building Blocks/</span></label>
                                <ul>
                                    <li>Event_Delegation.txt</li>
                                    <li>MutationObserver.txt</li>
                                    <li>eddy.png</li>
                                    <li>Reflect_APIs.txt</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="actor-content">
                <p> hi </p>

            </div>
        </div>
    <noscript>
        <strong>JavaScript is disabled on your browser.</strong>
    </noscript>
    <script src="script.js"></script>
</body>
</html>