<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/window_content.css') }}">

</head>

<body>
    <div class="main">
        <div class = "nav">
            <div class="nav-container">
                <div class="nav-left">
                    <a class="img-ctn" id="nav-one"> <img src="{{ url_for('static', filename='img/info.svg') }}" alt="Info Icon" id="nav-icon"> </a>
                    <a class="img-ctn"> <img src="{{ url_for('static', filename='img/info.svg') }}" alt="Info Icon" id="nav-icon"></a>
                </div>
                <div class="nav-right">
                    <a class="img-ctn"> <img src="{{ url_for('static', filename='img/profile-icon.svg') }}" alt="Info Icon" id="nav-icon"> </a>
                </div>
            </div>
        </div>
        <div class= "main-content">
            <div class="main-content-container">
                <div class="directory-tree">
                    {{ directory_tree_html | safe }}
                </div>
            
                <div class="window-content-container">
                    <div class="window-content">
                        <div class="window-content-header">
                            <!-- File information will be dynamically inserted here -->
                            {% if file_info %}
                                <div class="file_info_left">
                                    <p id= "file_name">{{ file_info.name }}</p>
                                </div>
                                <div class="file_info_right">
                                    <div class="file_size_container">
                                        <p id="file_size"> {{ file_info.size }} </p>
                                    </div>
                                    <a href="{{ url_for('download_file', filename=file_info.path) }}" class="download-button"> 
                                        <img src="{{ url_for('static', filename='img/download.svg') }}" alt="Download Icon">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="content_background">
                            <!-- Dynamically insert content based on file type, safe filter allows HTML to be rendered -->
                            {{ content|safe }}
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    <noscript>
        <strong>JavaScript is disabled on your browser.</strong>
    </noscript>
    <script src="script.js"></script>
</body>
</html>